.modal-login {
}

.md-title-login {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 48px;
  line-height: 64px;
  color: #000000;
}

.input-login {
  height: 70px;
}

.label-login .ant-form-item-required {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
}

.forgot-password {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
}

.btn-login {
  margin-top: 10px !important;
  width: 100% !important;
  height: 70px !important;
  background-color: #79e623 !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 27px !important;
  line-height: 36px !important;
  color: #ffffff !important;
  
}


.forgot-password {
  margin-left: 70%;
}