.home-page {
  .banner {
    width: 100%;
    height: 829px;
    .left {
      width: 40%;
      .wellcome {
        position: absolute;
        width: 400px;
        height: 164px;
        left: 160px;
        top: 185px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 70px;
        line-height: 82px;
        color: #000000;
      }
      .description {
        position: absolute;
        width: 580px;
        height: 135px;
        left: 160px;
        top: 355px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        color: #000000;
      }
    }
    .right {
      position: absolute;
      width: 60%;
      height: 829px;
      left: 40%;
      top: 185px;
    }
    .btn-start-trial {
      position: absolute;
      width: 400px;
      height: 60px;
      left: 160px;
      top: 539px;
      background: #51d015;
      border-radius: 4px;
      color: white;
      font-style: normal;
      font-weight: normal;
      font-size: 28px;
      line-height: 33px;
      align-items: center;
      text-align: center;
      color: #ffffff;
    }
  }
  .course {
    margin-top: 100px;
    width: 100%;
    display: flex;
    .title-course {
      width: 18%;
      margin-left: 12%;
      .title {
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 23px;
        text-transform: uppercase;
        color: #ff0909;
      }
      .sub-title {
        font-style: normal;
        text-transform: uppercase;
        font-weight: normal;
        font-size: 32px;
        line-height: 37px;
        display: flex;
        align-items: center;
        color: #000000;
      }
    }
    .description-course {
      margin-top: 40px;
      width: 70%;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      align-items: center;
      color: #000000;
    }
  }
  .list-course {
    margin-left: 20%;
    width: 60%;
  }
  .why-choose-me {
    margin-top: 50px;
    display: flex;
    .title-course {
      width: 27%;
      margin-left: 12%;
      .title {
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 23px;
        text-transform: uppercase;
        color: #ff0909;
      }
      .sub-title {
        font-style: normal;
        text-transform: uppercase;
        font-weight: normal;
        font-size: 32px;
        line-height: 37px;
        display: flex;
        align-items: center;
        color: #000000;
      }
    }
    .content {
      width: 73%;
      margin-top: 35px;
    }
  }
  .about-us {
    width: 100%;
    .course {
      display: flex;
      .title-course {
        width: 30%;
        margin-left: 12%;
        .title {
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          line-height: 23px;
          text-transform: uppercase;
          color: #ff0909;
        }
        .sub-title {
          font-style: normal;
          text-transform: uppercase;
          font-weight: normal;
          font-size: 32px;
          line-height: 37px;
          display: flex;
          align-items: center;
          color: #000000;
        }
      }
      .description-course {
        margin-top: 40px;
        width: 70%;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        align-items: center;
        color: #000000;
      }
    }
    .content {
      display: flex;
      .left {
        width: 50%;
        iframe {
          margin-left: 300px;
        }
      }
      .right {
        width: 50%;
        .title {
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          line-height: 23px;
          text-transform: uppercase;
          display: flex;
          align-items: center;
          color: #ff0000;
        }
        .sub-title {
          font-style: normal;
          font-weight: normal;
          font-size: 32px;
          line-height: 37px;
          align-items: center;
          color: #000000;
        }
      }
    }
  }
  .ads {
    margin-top: 30px;
    width: 80%;
    height: 100%;
    margin-left: 10%;
    background-image: url('https://i.pinimg.com/originals/ef/0b/23/ef0b2367f3ecee2c1f0265a858091b46.jpg');
    background-size: cover;
    display: flex;
    .left {
      width: 70%;
      .title {
        padding-top: 30px;
        padding-left: 30px;
        font-style: normal;
        font-weight: normal;
        font-size: 48px;
        line-height: 56px;
        color: #000000;
      }
      .sub-title {
        padding-left: 30px;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        align-items: center;
        color: #000000;
      }
    }
    .right {
      width: 30%;
      .btn-contact-us{
        width: 200px;
        margin-top: 70px;
        font-weight: bolder;
      }
    }
  }
}
