.verify-email-page {
  width: 100%;
  height: 500px;
  .content {
    width: 60%;
    margin-left: 20%;
    text-align: center;
    border-radius: 10px;
    margin-top: 100px;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #888888;

    .text-content {
      width: 100%;
      height: 150px;
      text-align: center;
      color: #398eab;
      font-size: 30px;
      font-weight: bold;
    }
    .btn-back-to-home {
    }
  }
}
